<div class="container">
  <div cdkDropListGroup>
    <h2>Mesa</h2>
    <div class="row">
      <div cdkDropList [cdkDropListData]="table" class="cartas" (cdkDropListDropped)="drop($event)">
        <div class="border column example-box" *ngFor="let card of table" cdkDrag>
          <div class="linhas">
            <div class="coluna-2">
              <h2> {{ card.tipo }}</h2>
              <h2 class="points right"> {{ card.pontos }}</h2>
            </div>
            <p> {{ card.descricao }}</p><br>
            <div class="colunas">
              <mat-icon id="grande" *ngFor="let i of [].constructor(card.coracoesGr)">favorite</mat-icon>
              <mat-icon *ngFor="let i of [].constructor(card.coracoesPeq)">favorite</mat-icon>
            </div>
            <div *ngIf="card.bonus1" class="right">
              <img class="size" src="../assets/img/gift.png" alt="">
            </div>
            <div *ngIf="card.bonus2" class="right">
              <img class="size" src="../assets/img/gift2.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <button (click)="diceNumber(1, 6)">Rolar o dado</button>
    <h2 *ngIf="dice">{{dice}}</h2>

    <h2>Mão</h2>
    <div class="row">
      <div cdkDropList [cdkDropListData]="hand" class="cartas" (cdkDropListDropped)="drop($event)">
        <div class="border column example-box" *ngFor="let card of hand" cdkDrag>
          <div class="linhas">
            <div class="coluna-2">
              <h2> {{ card.tipo }}</h2>
              <h2 class="points right"> {{ card.pontos }}</h2>
            </div>
            <p> {{ card.descricao }}</p><br>
            <div class="colunas">
              <mat-icon id="grande" *ngFor="let i of [].constructor(card.coracoesGr)">favorite</mat-icon>
              <mat-icon *ngFor="let i of [].constructor(card.coracoesPeq)">favorite</mat-icon>
            </div>
            <div *ngIf="card.bonus1" class="right">
              <img class="size" src="../assets/img/gift.png" alt="">
            </div>
            <div *ngIf="card.bonus2" class="right">
              <img class="size" src="../assets/img/gift2.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>