<div class="container">
  <div cdkDropListGroup>
    <h2>Mesa</h2>
    <div class="row">
      <div
        cdkDropList
        [cdkDropListData]="mesa"
        class="cartas"
        (cdkDropListDropped)="drop($event)">
        <div class="border column example-box" *ngFor="let item of mesa" cdkDrag>
          {{ item }}
        </div>
      </div>
    </div>

    <h2>Mão</h2>
    <div class="row">
      <div
        cdkDropList
        [cdkDropListData]="mao"
        class="cartas"
        (cdkDropListDropped)="drop($event)">
        <div class="border column example-box" *ngFor="let item of mao" cdkDrag>
          {{ item }}
        </div>
      </div>
    </div>
  </div>
</div>
